@{
    ViewData["Title"] = "Home Page";
}

<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2>Welcome to <span>PhotoPortal</span>. An application designed for hobby and professional photographers.</h2>
                <p>Blanditiis praesentium aliquam illum tempore incidunt debitis dolorem magni est deserunt sed qui libero. Qui voluptas amet.</p>
                <a asp-area="" asp-controller="Club" asp-action="Index" class="btn-get-started">Explore clubs</a>
                <a asp-area="" asp-controller="Photo" asp-action="Index" class="btn-get-started">View gallery</a>
                <div class="container mt-5">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas fermentum, sem in pharetra pellentesque, 
                        velit turpis volutpat ante, in pharetra metus odio a lectus. Mauris metus. Aliquam ante. 
                        Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Temporibus autem quibusdam et aut 
                        officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae 
                        non recusandae. Integer malesuada.
                    </p>
                </div> 
            </div>
        </div>
    </div>
</section>