@model PhotoPortalWebApp.Models.Photo

@{
    ViewData["Title"] = "Delete Photo";
}
<main id="main">
    <div class="page-header d-flex align-items-center" style="padding-bottom:0">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h3 class="login-title">Delete existing photo</h3>
                </div>
            </div>
        </div>
    </div>
    <section id="contact" class="contact" style="min-height:55vh">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="mb-2"><a asp-action="Index">Return to gallery</a></div>
                    <div class="row justify-content-center">
                        <div class="col-xl-12">
                            <form asp-action="Delete"class="php-email-form">
                                <input type="hidden" asp-for="Id" />
                                <h3>Are you sure you want to delete this photo?</h3>
                                <div>    
                                    <form asp-action="Delete">
                                        <input type="hidden" asp-for="Id" />
                                        <input type="submit" value="Delete" class="btn btn-danger" style="background-color:red"/>
                                    </form>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


